@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary-color: #4b6b64;
  --secondary-color: #000000;
  --tertiary-color: #202020;
  --quaternary-color: #8c3c4f;
  --quinary-color: #56ccf2;
  --senary-color: #a9cf54;
  --septenary-color: #2090ce;
  --octonary-color: #ff8d1b;
  --nonary-color: #a5a5a5;
  --text-color: #fefefe;
}

[data-theme="light"] {
  --primary-color: #4b6b64;
  --secondary-color: #ececec;
  --tertiary-color: #ffffff;
  --quaternary-color: #8c3c4f;
  --quinary-color: #1d97c0;
  --senary-color: #658819;
  --septenary-color: #2090ce;
  --nonary-color: #9c9c9c;
  --text-color: #202020;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  min-width: 550px;
  background-color: var(--secondary-color) !important;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: unset;
}

.web-mode {
  color: white;
  background: none;
  border: none;
}

.main-nav {
  background-color: var(--primary-color) !important;
  color: white;
}

header .web-logo {
  width: 3.5rem;
  height: 3.5rem;
}

.web-first-word {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.2rem;
}

.web-last-word {
  font-size: 1.12rem;
  font-weight: 100;
}

footer .web-logo {
  height: 8rem;
  width: 8rem;
}

.bg-color-primary {
  background-color: var(--primary-color) !important;
  color: #fefefe;
}

.notify-text {
  color: var(--quinary-color);
}

.notify-text > span {
  color: var(--text-color);
}

.result-text {
  color: var(--text-color);
}

#home-search-bar > input {
  padding-right: 4rem;
}

.category-dropdown {
  cursor: pointer;
}

.footer-links {
  display: flex;
  flex-direction: column;
  width: 13rem;
}

.footer-links p {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
  color: white;
}

.footer-links a {
  font-size: 0.8rem;
  text-decoration: none;
  margin-bottom: 0.7rem;
  font-weight: 600;
  color: #cecece;
  transition: 0.5s all;
}

.footer-links a:hover {
  color: #303035;
}

.category-tag {
  display: inline-block;
  background: none;
  border: 1px solid var(--quaternary-color) !important;
}

.category-tag:hover,
.category-tag:active {
  background-color: var(--quaternary-color);
}

.chapter-name-info {
  opacity: 80%;
}

.start-chapter-btn {
  display: inline-block;
  color: white;
  background-color: var(--senary-color);
}

.start-chapter-btn:hover,
.start-chapter-btn:active {
  opacity: 70%;
}

.con-chapter-btn {
  display: inline-block;
  color: white;
  background-color: var(--septenary-color);
}

.con-chapter-btn:hover,
.con-chapter-btn:active {
  opacity: 70%;
}

.next-pre-button {
  display: inline-block;
  background: none;
  font-size: 1.3rem;
  border-radius: 0.4rem;
  color: var(--senary-color);
  border: 2px solid var(--senary-color);
  width: 13rem;
  padding: 0.3rem;
  margin: 0 1rem;
}

.next-pre-button:hover,
.next-pre-button:active {
  background: var(--senary-color);
  color: var(--text-color);
}

.option-button {
  margin: 0;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  border: 1px solid #666666;
  background: var(--tertiary-color);
  color: var(--text-color);
}

.reading-font {
  font-family: "Times New Roman", Times, serif;
  min-height: 75vh;
  font-size: 28px;
}

.page-item .page-active {
  background-color: var(--octonary-color);
  border: 1px solid var(--text-color);
  color: var(--text-color);
}

.page-link {
  background: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--text-color);
  width: 3rem;
  height: 3rem;
  padding: auto;
  font-size: 1.3rem;
  color: var(--text-color);
}

.page-link:active,
.page-link:hover {
  background-color: var(--octonary-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  transition: 0.5s all;
}

.dropdown-content {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--tertiary-color);
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  width: 100%;
  z-index: 1;
}

.dropdown-list {
  color: var(--text-color);
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.load-img {
  width: 100%;
  height: 4rem;
}

.story-card-image {
  display: inline-block;
  height: 17.5rem;
  width: 100%;
  overflow: hidden;
  border: 1px solid white;
}

.story-card-image > img {
  height: 17.5rem;
  transition: transform 0.4s ease;
  transform-origin: 50% 50%;
  width: 100%;
}

.story-card-image > img:hover {
  transform: scale(1.1);
  width: 100%;
}

.story-card-name {
  color: var(--text-color);
  display: block;
}

.story-card-name:hover {
  color: var(--octonary-color);
  transition: 0.25s ease;
}

.story-card-chapter {
  font-size: 0.85rem;
  color: var(--text-color);
  opacity: 80%;
  display: block;
}

.story-card-chapter:hover {
  color: var(--octonary-color);
  transition: 0.25s ease;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-container {
  background-color: var(--tertiary-color);
}

.chapter-title {
  color: #669900;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-none {
  display: none !important;
}

#header-link a {
  font-size: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  transition: 0.4s;
}

#header-link a:hover {
  font-size: 1.6rem;
}

#nav-link a {
  display: inline-block;
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
  font-size: 1.15rem;
}

#nav-link a:hover {
  background-color: #fefefe;
  color: #4b6b64;
  font-weight: 500;
}

#chapters-container {
  border: 1px solid var(--text-color);
  max-height: 70vh;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: scroll;
  text-overflow: ellipsis;
  background: none;
}

#chapters-container > a {
  display: inline-block;
  border-bottom: 1px solid var(--nonary-color);
  width: 95%;
  height: fit-content;
  padding: 0;
  margin: 0.25rem 2rem;
  line-height: 2rem;
  font-size: 1rem;
  font-weight: 500;
}

#chapters-container > a:hover,
#chapters-container > a:active {
  transition: 0.1s ease!important;
  color: var(--octonary-color)!important;
}

#chapters-container > a:visited {
  color: var(--septenary-color);
  opacity: 30%;
}

#home-bg {
  background-image: url("../assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

#home-search-bar {
  height: 5rem;
  min-width: 31rem;
}

#home-search-bar input,
#home-search-bar i {
  font-size: 2rem;
}

#story-image {
  border: 1px solid white;
  margin: 0 0.2rem;
  width: 100%;
  max-width: 16.875rem;
  aspect-ratio: 1 / 1.5;
  max-height: 25rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#ebook-btn {
  margin: 0 0.2rem;
  width: 100%;
  max-width: 16.875rem;
  border-radius: 0;
  background: none;
  border: 2px solid var(--text-color);
  color: var(--text-color);
}

#ebook-btn:hover,
#ebook-btn:active {
  background-color: var(--text-color);
  color: var(--secondary-color);
}

#story-info i {
  padding-right: 0.3rem;
}

#story-info button {
  color: white;
  border: 0px;
  padding: 0.4rem 0.6rem;
}

#story-info button:hover,
#story-info button:active {
  opacity: 70%;
  border: 0px;
}

#source-menu {
  width: 16.875rem;
  font-style: italic;
  color: var(--text-color);
  background-color: var(--tertiary-color);
  border: 2px solid var(--text-color);
  padding: 0.6rem 0.8rem;
  min-width: 18rem;
}

#text-format-panel {
  position: relative;
  left: 60px;
  top: -56px;
  background-color: var(--tertiary-color);
  color: var(--text-color);
  width: max-content;
  border: 1px solid var(--text-color);
  padding: 1.2rem 1rem 0.8rem;
}

.button-container {
  width: 34rem;
  flex-direction: row;
  height: 3rem;
  line-height: 2.5rem;
}

.text-container {
  width: 7rem;
  text-align: left;
  background: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--text-color);
  display: inline-block;
}

.text-format-button {
  min-width: 8rem;
  padding: 0 0.5rem;
  text-align: center;
  border: 1px solid var(--text-color);
  background: var(--secondary-color);
  color: var(--text-color);
}

.color-text-format-button {
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  border: 2px solid var(--text-color);
  border-radius: 50%;
}

.background-color-button {
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  border: 2px solid var(--text-color);
  border-radius: 50%;
}

.active {
  border: 2px solid var(--octonary-color);
  color: var(--octonary-color);
}

#up-btn {
  display: none;
  position: fixed;
  bottom: 1.4rem;
  right: 1.4rem;
  z-index: 99;
  font-size: 1.2rem;
  border: 1px solid var(--octonary-color);
  outline: none;
  background: none;
  color: var(--octonary-color);
  cursor: pointer;
  padding: 0.7rem 0.9rem 0.5rem;
  border-radius: 0.4rem;
  transition: 0.3s ease;
}

#up-btn:hover {
  color: var(--secondary-color);
  background: var(--octonary-color);
}

#chapters-list-panel {
  position: relative;
  left: 60px;
  top: -111px;
  background-color: var(--tertiary-color);
  color: var(--text-color);
  width: max-content;
  max-height: 25rem;
  border: 1px solid var(--text-color);
  padding: 0.8rem 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chapter-item {
  display: block;
  border: 1px solid var(--nonary-color);
  width: 13rem;
  text-align: left;
  padding: 0.2rem 0.7rem;
  margin: 0.6rem;
}

.active-chapter {
  border: 1px solid var(--octonary-color);
}

.chapter-item:hover,
.chapter-item:active {
  border: 1px solid var(--octonary-color);
}

.history-delete-btn {
  position: absolute;
  right: 0.8rem;
  top: 0.4rem;
  font-size: 2rem;
  text-shadow: 0 0 3px #ffffff, 0 0 7px #ffffff;
  font-weight: bold;
  color: #610017;
  z-index: 1;
  text-align: center;
  border-radius: 50%;
}

.history-delete-btn:hover,
.history-delete-btn:active {
  border: none;
  color: red!important;
}

.ebook-info > img {
  width: 80%;
  margin: 0 0.2rem;
  aspect-ratio: 1 / 1.5;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ebook-info > div {
  width: 80%;
}

#pdfViewer {
  display: none;
}

#epubViewer {
  display: none;
}

#toc .sub-items .toc-item {
  margin-left: 20px;
  padding: 5px;
}

#toc .sub-items .sub-items .toc-item {
  margin-left: 40px;
  padding: 5px;
}

#toc .sub-items .sub-items .sub-items .toc-item {
  margin-left: 60px;
  padding: 5px;
}
@media only screen and (max-width: 768px) {
  #header-link {
    display: none;
  }

  #header-search {
    margin: 1.3rem 0 0 0;
    padding: 0;
  }
}

@media only screen and (max-width: 1200px) {
  #header-link a {
    display: none;
  }
}