@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #000000;
    font-family: "Roboto", sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.pe-6 {
    padding-right: 4rem;
}

.bg-color-4b6b64 {
    background-color: #4b6b64;
}

.bg-color-202020 {
    background-color: #202020;
}

.bg-color-a9cf54 {
    background-color: #a9cf54;
}

.bg-color-8c3c4f {
    background-color: #8c3c4f;
}

.border-9b9b9b {
    border: 1px solid #9b9b9b;
}

.border-white {
    border: 1px solid white;
}

.border-rounded {
    border-radius: 0.4rem;
}

.border-circle {
    border-radius: 50%;
}

.w-auto {
    width: auto;
}

.w-16dot25 {
    width: 16.25rem;
}

.w-3dot5 {
    width: 3.5rem;
}

.w-8 {
    width: 8rem;
}

.h-3dot5 {
    height: 3.5rem;
}

.h-8 {
    height: 8rem;
}

.text-color-56ccf2 {
    color: #56ccf2;
}

.text-color-a9cf54 {
    color: #a9cf54;
}

.text-color-fefefe {
    color: #fefefe;
}

.text-color-669900 {
    color: #669900;
}

.text-color-eeeeee {
    color: #eeeeee;
}

.cursor-pointer {
    cursor: pointer;
}

#web-first-word {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.2rem;
}

#web-last-word {
    font-size: 1.12rem;
    font-weight: 100;
}

#header-link a {
    font-size: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

#header-link a:hover {
    transition: 0.4s;
    font-size: 1.6rem;
}

#header-link a:not(:hover) {
    transition: 0.4s;
}

#nav-link a {
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    font-size: 1.15rem;
}

#nav-link a:hover {
    background-color: #fff;
    color: #4b6b64;
    font-weight: 500;
}

.footer-links {
    display: flex;
    flex-direction: column;
    width: 12.5rem;
}

.footer-links p {
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
    font-weight: 600;
    color: white;
}

.footer-links a {
    font-size: 0.8rem;
    text-decoration: none;
    margin-bottom: 0.7rem;
    font-weight: 600;
    color: #cecece;
    transition: 0.5s all;
}

.footer-links a:hover {
    color: #303035;
}

#home-bg {
    background-image: url("../assets/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#home-search-bar {
    height: 5rem;
    min-width: 31rem;
}

#home-search-bar input, #home-search-bar i {
    font-size: 2rem;
}

@media only screen and (max-width: 768px) {
    #header-link {
        display: none;
    }
    
    #header-search {
        margin: 1.3rem 0 0 0;
        padding: 0;
    }
}   

@media only screen and (max-width: 1200px) {
    #header-link a {
        display: none;
    }
}















.grey-theme-card {
    background-color: #202020;
    border-radius: 0.4rem;
}

.white-border {
    border: 1px solid #9b9b9b;
}

.story-card {
    background-color: #202020;
    border-radius: 0.4rem;
    min-height: 100vh;
}

.story-thumb {
    width: 260px;
    height: 400px;
    border: 1px solid #fff;
}

.ebook-button {
    width: 260px;
}

.story-info i {
    padding-right: 0.3rem;
}

.story-info button {
    color: #fff;
    border: 0px;
    padding: 0.4rem 0.6rem;
}

.story-info button:hover, .story-info button:active {
    opacity: 80%;
    border: 0px;
}

.read-start-btn {
    background-color: #A9CF54;
}

.read-latest-btn {
    background-color: #8C3C4F;
}

.read-continue-btn {
    background-color: #2090CE;
}

.chapters-list {
    border: 1px solid #fff;
    min-height: 10vh;
}

.chapters-list li {
    color: #fefefe;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.chapter-title-style {
    color: #669900;
    font-weight: bold;
    font-size: 1.6rem;
}



.default-content-style {
    padding: 2.5rem 4.2rem;
    font-size: 26px;

}

.chapter-button {
    background:none;
    padding: 0.3rem 0.8rem;
    color: #A9CF54;
    font-size: 1.3rem;
    border-radius: 0.4rem;
    border: 2px solid #A9CF54;
    width: 13rem;
}

.chapter-button:hover, .chapter-button:active {
    background-color: #A9CF54;
    color: #fff;
    border-color: #A9CF54;
}

.setting-option-card {
    margin: 0px;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #666666;
    background: #202020;
    color: white;
}

.blue-font {
    color: #56ccf2;
}

.search-thumb {
    height: 285px;
    width: 100%;
    border: 1px solid #fff;
}

