<div class="container h-100vh">
    <div class="row">
        <div class="col-md-12 fs-5 mt-4 mb-2 text-color-56ccf2 fw-bold">
            <i class="fa-solid fa-flag pe-1"></i>
            Truyện thể loại: <span class="text-white">{{categoryName}}</span>
        </div>
    </div>
    {{> storiesList}}
</div>