<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center border bg-info bg-gradient rounded p-3 border border-dark w-75">
        <h1 class="display-1 fw-bold">{{code}}</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> {{name}}</p>
        <p class="lead fs-4 mt-2">
            {{message}}
        </p>
        <a href="/home" class="btn btn-primary mt-3 border-dark">Go Home</a>
    </div>
</div>