<div class="container-fluid d-flex justify-content-center align-items-center" id="home-bg">
    <form class="d-flex position-relative w-50" id="home-search-bar" action="/search" method="GET">
        <input class="form-control ps-4 me-3 pe-6 rounded-pill" placeholder="Nhập từ khóa để tìm kiếm"
            aria-label="Search" name="keyword" />
        <button type="submit" class="btn btn-link text-dark position-absolute top-50 end-0 translate-middle p-1">
            <i class="fas fa-search pe-2"></i>
        </button>
    </form>
</div>