<footer class="bg-color-4b6b64">
    <div class="container">
        <div class="col-md-12">
            <div class="d-flex justify-content-between flex-wrap px-5 pt-4 pb-2">
                <div class="m-5">
                    <div class="text-center">
                        <img class="w-8 h-8 border-circle cursor-pointer me-2" alt="The logo of website"
                            src="{{getUrlFromPath 'assets/logo.png'}}"
                            onclick="location.href='{{getUrlFromPath 'home'}}'" />
                    </div>
                    <div onclick="location.href='{{getUrlFromPath 'home'}}'">
                        <pan class="cursor-pointer" id="web-first-word">Story</pan><!-- 
                            --><pan class="cursor-pointer text-color-eeeeee" id="web-last-word">VERSE</pan>
                    </div>
                </div>
                <div class="footer-links m-5">
                    <p>Giới Thiệu</p>
                    <a href="#" class="link">About Us</a>
                    <a href="#" class="link">Contact</a>
                </div>
                <div class="footer-links m-5">
                    <p>Thông tin nhóm</p>
                    <a href="#" class="link">MSSV - Họ và tên</a>
                    <a href="#" class="link">MSSV - Họ và tên</a>
                    <a href="#" class="link">MSSV - Họ và tên</a>
                    <a href="#" class="link">MSSV - Họ và tên</a>
                    <a href="#" class="link">MSSV - Họ và tên</a>
                </div>
            </div>
        </div>
</footer>