<footer class="main-nav">
    <div class="container">
        <div class="col-md-12">
            <div class="d-flex justify-content-between flex-wrap px-5 pt-4 pb-2">
                <div class="m-5">
                    <div class="text-center">
                        <a href="/home">
                            <img class="web-logo rounded-circle me-2" alt="The logo of website"
                                src="/assets/logo.png" />
                        </a>
                    </div>
                    <a href="/home">
                        <pan class="web-first-word">Story</pan><!-- 
                        --><pan class="web-last-word">LAND</pan>
                    </a>
                </div>
                <div class="footer-links m-5">
                    <p>Giới Thiệu</p>
                    <a href="#" class="link">About Us</a>
                    <a href="#" class="link">Contact</a>
                </div>
                <div class="footer-links m-5">
                    <p>Thông tin nhóm</p>
                    <a href="#" class="link">21120067 - Nguyễn Hoàng Hiếu</a>
                    <a href="#" class="link">21120093 - Trần Anh Kiệt</a>
                    <a href="#" class="link">21120159 - Võ Chí Trung</a>
                    <a href="#" class="link">21120170 - Nguyễn Phạm Phú Xuân</a>
                    <a href="#" class="link">21120190 - Ngô Quốc An</a>
                </div>
            </div>
        </div>
</footer>