<header>
    <div class="py-4 main-nav">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="d-flex align-item-center">
                        <a class="d-block" href="/home">
                            <img class="web-logo rounded-circle me-2" alt="The logo of website"
                                src="/assets/logo.png" />
                        </a>
                        <a class="web-name d-block" href="/home">
                            <pan class="web-first-word">Story</pan><!-- 
                            --><pan class="web-last-word">LAND</pan>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-1 col-1 d-flex align-items-center" id="header-link">
                    <a href="#">About</a>
                    <a href="#">Contact</a>
                </div>
                <div class="col-md-3 col-sm-5 col-5 d-flex align-items-center flex-row-reverse">
                    <button class="btn btn-outline-light fs-5 border-3 rounded-pill" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop" type="button">
                        Nguồn ưu tiên
                    </button>
                </div>
                <div class="col-md-4 col-sm-12 col-12 d-flex align-items-center flex-row-reverse" id="header-search">
                    <div class="container p-relative">
                        <form action="/search" method="GET">
                            <input class="form-control pe-5" text="" placeholder="Nhập từ khóa để tìm kiếm" name="keyword"
                                aria-label="Search" required/>
                            <button type="submit"
                                class="btn btn-link text-dark fs-5 p-absolute top-50 end-0 translate-middle-y me-2">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-2 main-nav p-relative">
        <div class="container">
            <div class="row">
                <div class="d-flex align-items-center" id="nav-link">
                    <li>
                        <a href="/home">Trang chủ</a>
                    </li>
                    <li>
                        <a class="category-dropdown">
                            Thể loại
                            <i class="fa-solid fa-caret-down fs-6"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/history/all">Lịch sử</a>
                    </li>
                    <li class="flex-grow-1"></li>
                    <li class="me-2">
                        <button type="button"
                            class="fa-solid {{#if isDark}}fa-moon{{else}}fa-sun{{/if}} fs-4 web-mode"></button>
                    </li>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-relative">
        <div class="dropdown-content d-none" data-hidden="true">
            <div class="container my-4 px-5">
                <div class="row dropdown-list">
                    <img src="/assets/loading.gif" class="load-img" />
                </div>
            </div>
        </div>
    </div>
</header>